<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <link href="~/CSS/Nav.css" rel="stylesheet">
</head>
<body>
    <div class="custom-padding">
        <header>
            <nav>
                <div class="logo">
                    TasteBuzz
                </div>
                <ul class="menu-area">
                    <li>
                        <a href="@Url.Action("Index", "Login")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("User1", "UserLogin")">UserLogin</a>
                        @*<a href="#" class="btn-area">UserLogin</a>*@
                    </li>
                    <li>
                        <a href="@Url.Action("Admin", "Login")">AdminLogin</a>
                        @*<a href="#" class="btn-area">AdminLogin</a>*@
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>