<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="~/Js/Nav.js"></script>
    <link href="~/CSS/Nav4.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">

        <header>

            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    FoodHunterzz
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="@Url.Action("Home", "User")">Home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Order", "User")">Order</a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyCart", "User")">My Cart </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MyHistory", "User")">My History</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Login")">LogOut</a>
                        </li>


                        @*<li><a href="#">Contact</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Contact</a></li>*@
                    </ul>
                </div>
            </nav>
        </header>
        
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>








